<header class="header-container">
  <nav>
    <a routerLink="/" class="logo">
      <img src="assets/test-logo.png" alt="DecryptMike Logo" class="logo-image" style="height: 50px; width: auto; background-color: red;">
      <span class="logo-text">DecryptMike</span>
    </a>
    <ul class="nav-links">
      <li><a routerLink="/portfolio" routerLinkActive="active-link">PORTFOLIO</a></li>
      <li><a routerLink="/about" routerLinkActive="active-link">ABOUT</a></li>
      <li><a routerLink="/contact" routerLinkActive="active-link">CONTACT</a></li>
    </ul>
  </nav>
</header>