<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-section about-section">
      <a routerLink="/" class="logo footer-logo-link">
        <img src="decryptlogo.png" alt="DecryptMike Logo" class="logo-image footer-logo-image">
        <span class="logo-text footer-logo-text">DecryptMike</span>
      </a>
      <p class="about-text">
        Explore The Open-Source Code Behind These Projects On GitHub. Find Links To The Repositories Here.
      </p>
    </div>

    <div class="footer-section links-section">
      <h3 class="section-title">Cybersecurity & Tools</h3>
      <ul class="repo-list">
        <li><a href="https://github.com/DecryptMike/DecryptMike-Log-Analyzer" target="_blank" rel="noopener noreferrer" class="repo-link">Log Analyzer</a></li>
        <li><a href="https://github.com/DecryptMike/DecryptMike-Password-Manager" target="_blank" rel="noopener noreferrer" class="repo-link">Password Manager</a></li>
        <li><a href="https://github.com/DecryptMike/DecryptMike-Honeypot-Sim" target="_blank" rel="noopener noreferrer" class="repo-link">Honeypot Sim</a></li>
        <li><a href="https://github.com/DecryptMike/DecryptMike-Web-Vuln-Scanner" target="_blank" rel="noopener noreferrer" class="repo-link">Web Vulnerability Scanner</a></li>
        <li><a href="https://github.com/DecryptMike/DecryptMike-SecureFileTransfer" target="_blank" rel="noopener noreferrer" class="repo-link">Secure File Trasnfer</a></li>
        <li><a href="https://github.com/DecryptMike/Decrypt-Mike-Dashboard" target="_blank" rel="noopener noreferrer" class="repo-link">Dashboard</a></li>
      </ul>

      <h3 class="section-title">Web Development & Frontend</h3>
      <ul class="repo-list">
        <li><a href="https://github.com/DecryptMike/DecryptMike.github.io" target="_blank" rel="noopener noreferrer" class="repo-link">Github IO</a></li>
        <li><a href="https://github.com/DecryptMike/DecryptMike-SaaS-Starter-Kit" target="_blank" rel="noopener noreferrer" class="repo-link">SaaS Starter Kit</a></li>
        <li><a href="https://h4ck3rbyt3s.systeme.io/" target="_blank" rel="noopener noreferrer" class="repo-link">H4ck3rByt3s Site</a></li>
      </ul>
    </div>

    <div class="footer-section links-section">
      <h3 class="section-title">Artificial Intelligence & Machine Learning</h3>
      <ul class="repo-list">
        <li><a href="https://github.com/DecryptMike/DecryptMike-AI-Backend" target="_blank" rel="noopener noreferrer" class="repo-link">AI Backend</a></li>
        <li><a href="https://github.com/DecryptMike/DecryptMike-AI-Frontend" target="_blank" rel="noopener noreferrer" class="repo-link">AI Frontend</a></li>
        <li><a href="https://github.com/DecryptMike/DecryptMike-AI-Text-Summarizer" target="_blank" rel="noopener noreferrer" class="repo-link">AI Text Summarizer</a></li>
      </ul>

      <h3 class="section-title">MISC</h3>
      <ul class="repo-list">
        <li><a href="https://github.com/DecryptMike/GCyber-Security-Course" target="_blank" rel="noopener noreferrer" class="repo-link">Google Cybersecurity</a></li>
        <li><a href="https://github.com/DecryptMike/IBMSingle-Page-Portfolio" target="_blank" rel="noopener noreferrer" class="repo-link">IBM Portfolio</a></li>
        <li><a href="https://github.com/DecryptMike/Online-Code-Activities" target="_blank" rel="noopener noreferrer" class="repo-link">Code Activities</a></li>
      </ul>
    </div>

    <div class="footer-section links-section">
      <h3 class="section-title">Mobile</h3>
      <ul class="repo-list">
        <li><a href="https://github.com/DecryptMike?tab=repositories&q=android" target="_blank" rel="noopener noreferrer" class="repo-link">Android - Coming Soon</a></li>
        <li><a href="https://github.com/DecryptMike?tab=repositories&q=ios" target="_blank" rel="noopener noreferrer" class="repo-link">iOS - Coming Soon</a></li>
      </ul>

      <div class="social-media-section">
        <h3 class="section-title">Connect With Me</h3>
        <div class="social-icons">
          <a href="https://github.com/decryptmike" target="_blank" aria-label="GitHub Profile">
            <img src="git1.png" alt="GitHub Icon" class="github-icon">
          </a>
          <a href="https://linkedin.com/in/michael-a-martinez" target="_blank" aria-label="LinkedIn Profile">
            <img src="linkedinn.png" alt="LinkedIn Icon" class="linkedin-icon">
          </a>
          <a href="https://gitlab.com/decryptmike" target="_blank" aria-label="GitLab Profile">
            <img src="gitlab1.png" alt="GitLab Icon" class="gitlab-icon">
          </a>
          </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p class="copyright-text">&copy; {{ currentYear }} DecryptMike • H4ck3rByt3s<br>All Rights Reserved</p>
  </div>
</footer>