<div class="about-page-container">

  <div class="about-content-wrapper full-width-text-section glowing-box"> <div class="about-intro main-intro-block">
      <h1 class="my-name">Mike Martinez</h1>
      <p class="about-text">
          I'm A Software Engineer With A Passion For The Dynamic Fields Of Cybersecurity, Website Development, And AI Engineering. I Currently Reside In Denver, Colorado; A Bustling City At The Heart Of The Rockies, Where The Stunning Natural Landscape Calls With Its Majestic Formations And Serene Beauty. My Work Revolves Around Crafting Innovative Solutions, Driven By A Commitment To Robust Structure, Seamless Functionality, And Intuitive Design. When I'm Not Immersed In Code, You Can Find Me Exploring The Citys' Diverse Music And Culinary Scene Or Embracing The Adventurous Spirit Of The Great Outdoors Through Hiking And Camping.
      </p>
    </div>
  </div>

  <div class="combined-6-image-collage">
    <div class="image-collage-block combined-A">
      <div class="collage-item collage-item-small">
        <img src="bison.jpg" alt="CO Bison" class="collage-image">
      </div>
      <div class="collage-item collage-item-small">
        <img src="snowcap.jpg" alt="CO Mountain" class="collage-image">
      </div>
      <div class="collage-item collage-item-large">
        <img src="denver.png" alt="Denver" class="collage-image">
      </div>
    </div>
    <div class="image-collage-block combined-B">
      <div class="collage-item collage-item-large">
        <img src="union.jpg" alt="Union Station" class="collage-image">
      </div>
      <div class="collage-item collage-item-small">
        <img src="camping.jpg" alt="Camping" class="collage-image">
      </div>
      <div class="collage-item collage-item-small">
        <img src="ram.jpg" alt="CO Ram" class="collage-image">
      </div>
    </div>
  </div>
  
  <div class="about-content-wrapper full-width-text-section glowing-box"> <div class="about-intro full-width-intro">
      <h2 class="section-title">My Journey</h2>
      <p class="about-text">
          My Fascination With Technology Began During The Dawn Of The Digital Age, Ignited By The Introduction Of The Internet And The Inception Of Applications And Websites. This Early Curiosity Quickly Evolved Into A Drive To Understand Not Just 'How' Systems Work But, How They Can Be Made 'Resilient'; Sparking My Deep Dive Into The World Of Coding. While Experimenting With And Building Engaging, Intuitive Digital Experiences Through Web Development And Applications, I Realized The Critical Importance Of Protection. This Led Me To Embrace Cybersecurity As A Natural Extension Of My Passion, Ensuring I Can Safeguard What I Also Create. As A Software Engineer, I'm Constantly Driven To Combine Elegant Design With Robust Functionality And Structure In Every Project. In The Recent Years, The Transformative Power Of AI Has Captured My Imagination, Pushing Me To Explore How Intelligent Systems Can Help Solve Complex, Real-World Problems.
      </p>
    </div>
  </div>

  <div class="combined-6-image-collage">
    <div class="image-collage-block combined-A">
      <div class="collage-item collage-item-small">
        <img src="decryptmikeplanet.png" alt="Decrypt Mike Planet" class="collage-image">
      </div>
      <div class="collage-item collage-item-small">
        <img src="decryptmikecity.png" alt="Decrypt Mike City" class="collage-image">
      </div>
      <div class="collage-item collage-item-large">
        <img src="decryptmikerobot.png" alt="Decrypt Mike Robot" class="collage-image">
      </div>
    </div>
    <div class="image-collage-block combined-B">
      <div class="collage-item collage-item-large">
        <img src="decryptrobo.png" alt="Decrypt Mike Robo" class="collage-image">
      </div>
      <div class="collage-item collage-item-small">
        <img src="decryptfire.png" alt="Decrypt Mike Fire" class="collage-image">
      </div>
      <div class="collage-item collage-item-small">
        <img src="decryptlandscape.png" alt="Decrypt Mike Landscape" class="collage-image">
      </div>
    </div>
  </div>