<div class="portfolio-container glowing-box"> <h2 class="portfolio-title">Digital Portfolio</h2>

  <p class="portfolio-summary">
    {{ portfolioSummary }}
  </p>

  <div class="repo-grid">
    <div class="repo-item glowing-card" *ngFor="let repo of repositories">
      <div class="repo-name-wrapper">
        <h3 class="repo-name">
          <a *ngIf="repo.link; else noLink" [href]="repo.link" target="_blank" rel="noopener noreferrer">
            {{ repo.name }}
          </a>
          <ng-template #noLink>
            {{ repo.name }}
          </ng-template>
        </h3>
      </div>
      <div class="repo-separator"></div>
      <p class="repo-description">{{ repo.description }}</p>

      <a [href]="repo.link" target="_blank" rel="noopener noreferrer" class="view-project-btn" *ngIf="repo.link"><br><br>
        <span class="view-text">View</span>
        <span class="arrow-shape"></span> </a>
    </div>
  </div>
</div>